{
  "presets": [
    [
      "react-app",
      {
        "flow": false,
        "typescript": true
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-named-asset-import",
      {
        "loaderMap": {
          "svg": {
            "ReactComponent": "@svgr/webpack?-svgo,+titleProp,+ref![path]"
          }
        }
      }
    ],
    [
      "@babel/plugin-transform-typescript",
      {
        "allowNamespaces": true
      }
    ]
  ]
}
